body {
    background-color: #ebbcba;
}
a{
    font-family: 'Lato', sans-serif; 
}
h1 {
    font-family: 'Merriweather', serif;
}
#footer {
    position: fixed;
    padding: 10px 10px 0px 10px;
    bottom: 0;
    width: 100%;
    height: 40px;
    font-family: 'Lato', sans-serif;
    color: #21202e;
 }
 #header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items:flex-end;
    font-family: 'Lato', sans-serif;

}
 .header {
    order: 2;
    padding-left: 10px;
    font-family: 'Lato', sans-serif;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}

#optionbutton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.slideout {
    background-color: #ebbcba;
}

.mainbutton {
  align-items: center;
  background-color: #ebbcba;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.mainbutton:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.mainbutton:hover:after {
  transform: translate(0, 0);
}

.mainbutton:active {
  background-color: #ffdeda;
  outline: 0;
}

.mainbutton:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-56 {
    padding: 0 40px;
  }
}

label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f6c177;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
  
  .sidebar a.active {
    background-color: #f6c177;
    color: white;
  }
  

  .sidebar a:hover:not(.active) {
    background-color: #eb6f92;
    color: white;
  }

  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }